/* global styles */
body {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 1.4;
}

/* flex container */
.container {
  max-width: 960px;
  margin: 0 auto;
}

/* banner and navigation bar styling */
.top-banner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
  top: 1rem;
  background-color: cadetblue;
  font-size: 1rem;
  color: white;
}

.company {
  display: flex;
  align-items: center;
}

.top-banner .logo {
  height: 1.5rem;
  padding-right: 1rem;
  padding-left: 2rem;
}

/* Base styles for navigation menus */
.nav-menu {
  padding-right: 1em;
}

.nav-menu ul {
  display: flex;
  flex-wrap: wrap;
}

.nav-menu li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1em;
}

.nav-menu li {
  flex: 1 1 auto;
  text-align: center;
}

.mobile-nav {
  display: none;
}

/* navigation - mobile styling  */
@media screen and (max-width: 566px) {
  .full-nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
}

/* hero - desktop styling */
.hero {
  background-image: url(../images/glasses-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 31rem;
}

.headline {
  display: flex;
  justify-content: flex-end;
  margin-right: -2rem;
  margin-top: 14rem;
}

.headline h1 {
  width: auto;
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  padding: 1.5rem 5rem;
  background-color: white;
}

/* hero - tablet styling */
@media screen and (max-width: 960px) {
  .top-banner {
    top: 0;
  }
  .hero {
    height: 22rem;
    background-position: 50% 50%;
  }

  .headline {
    margin-right: 2rem;
    margin-top: 9rem;
  }

  .headline h1 {
    font-size: 1.33rem;
    padding: 0.75rem 4rem;
  }
}

/* hero - mobile styling  */
@media screen and (max-width: 566px) {
  .hero {
    height: 17rem;
    background-position: 20% 20%;
  }

  .headline {
    text-align: center;
    margin-top: 9rem;
    margin-right: 0;
  }

  .headline h1 {
    width: 100%;
    margin: 0;
    font-size: 1rem;
    padding: 1rem auto;
  }
}

/* Products / Services - desktop and tablet styling */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 5rem;
  height: 8rem;
  padding: 3rem;
  align-items: center;

}

.description {
  text-align: center;
}

#paper {
  width: 3.5rem;
}
#ruler, #truck {
  width: 5rem;
}

.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image img {
  width: 100%;
}

/* product - mobile styling */
@media screen and (max-width: 566px) {
  .products {
    max-width: 10rem;
    margin: 3rem auto;
    justify-content: center;
  }

  .product {
    font-size: 0.77rem;
    padding: 0.77rem;
    justify-content: space-around;
  }
}

/* business info - desktop and tablet styling */
.business-info {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: auto;
}

.info-title {
  display: block;
  width: 10rem;
  padding: 0.5rem 1.25rem 0.5rem 3rem;
  background-color: cadetblue;
  font-weight: bold;
  font-size: 1rem;
  color: white;
}

.info-block{
  width: 47.5%;
  margin-bottom: 5rem;
}

/* business info - mobile styling */
@media only screen and (max-width: 670px) {
  .business-info, .info-block{
    flex-wrap: wrap;
    width: 100%;
  }

  .info-block{
    margin-bottom: 4rem;
  }

  .info-title {
    width: 100%;
    padding: 0.5rem 0;
    text-align: center;
  }

  .info-detail {
    font-size: 0.77rem;
    float: left;
    margin: 1rem .5rem 4rem .5rem;
  }
}

/* footer - desktop and tablet styling */
footer .container {
  display: flex;
  align-items: center;
  background-color: azure;
  padding: 4rem 0;
  color: black;
}

footer .logo {
  height: 1.5rem;
  margin-right: 1rem;
  margin-left: 4rem;
}

/* footer - mobile styling */
@media only screen and (max-width: 470px) {
  footer .logo {
    margin: auto;
  }

  .wide-title {
    display: none;
  }
}
