/* "Tamming" Box Model With Reset */

/* html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
} */


/* main styles */
body {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 1.4;
}

/* center items in container */
.container {
  max-width: 960px;
  margin: 0 auto;
}

/* banner and nav bar styling */
.top-banner {
  background-color: cadetblue;
  font-size: 1rem;
  color: white;
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
  top: 1rem;
}

.company {
  display: flex;
  align-items: center; // centers text & logo
}
.top-banner .logo {
  height: 1.5rem;
  padding-right: 1rem;
  padding-left: 2rem;
}
.single-nav {
  padding-right: 1em;
}

/* Base styles for menus */

.single-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.single-nav li a {
	display: block;
	text-decoration: none;
	color: white;
	padding: 1em;
}
/* fills entire block of anchor tag, makes them equal sizd */
.single-nav li {
    flex: 1 0 auto;
    text-align: center;
}

/* adjust menu items on mobile */
/* need to adjust scaling of full-menu for tablet - it wraps @552px, instead of shrinking */
.mobile-nav {
  display: none;
}
 @media screen and (max-width: 470px) {
  .full-nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
}

.hero {
  background-image: url(../images/glasses-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 31rem;
}

/* need to position on right side  */
.headline {
  display: flex;
  justify-content: flex-end;
  margin-right: -2rem;
  margin-top: 14rem;
}
.headline h1 {
  width: auto;
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  padding: 1.5rem 5rem;
  background-color: white;
}

/* Products / Services */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
  margin: 0 auto;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 5rem;
  height: 8rem;
  padding: 3rem;
  /* margin: 3rem; */
  border: 1px solid red;
  align-items: center;

}
.description {
  margin: 0 auto;
  text-align: center;
}

#paper {
  width: 3.5rem;
}
#ruler, #truck {
  width: 5rem;
}


/*  */
/* .products,
.business-info {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
} */


.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 2rem 0; */
  border: 1px solid black;
}

.product-image img {
  width: 100%;
}

/* .description {
  display: block;
  padding: 0.5rem;
  background-color: black;
  text-align: center;
  color: white;
}
 */

/* .info .title {
  display: block;
  padding: 1rem 2rem;
  background-color: black;
  color: white;
} */

footer {
  background-color: azure;
  padding: 4rem 0;
  margin-top: 5rem;
  color: black;
}
footer .container {
  display: flex;
  align-items: center;
}
footer .logo {
  height: 1.5rem;
  margin-right: 1rem;
  margin-left: 4rem;
}



@media only screen and (max-width: 470px) {
  footer .logo {
    margin: auto;
  }
  .wide-title {
    display: none;
  }
}
